#home{
    .item-title-row{
        .item-title{
            color: #000;
            font-size: 1rem;
            text-align: left;
            
        }
        .item-after{
            font-size: 0.9rem;
            color: #696969;
        }
    }
}